@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

@layer base {
  :root {
    /* Web css variable */
    --color-basic-100: 0 0% 100%; /* hsl(0 0% 100%) */
    --color-basic-200: 0 0% 96.1%; /* hsl(0 0% 96.1%) */
    --color-basic-300: 240 5.9% 90%; /* hsl(240 5.9% 90%) */
    --color-basic-400: 0 0% 83.1%; /* hsl(0 0% 83.1%) */
    --color-basic-500: 0 0% 70.2%; /* hsl(0 0% 70.2%) */
    --color-basic-600: 0 0% 50.2%; /* hsl(0 0% 50.2%) */
    --color-basic-700: 0 0% 29%; /* hsl(0 0% 29%) */
    --color-basic-800: 0 0% 22%; /* hsl(0 0% 22%) */
    --color-basic-900: 0 0% 16.1%; /* hsl(0 0% 16.1%) */
    --color-basic-1000: 0 0% 12.2%; /* hsl(0 0% 12.2%) */
    --color-basic-1100: 0 0% 7.8%; /* hsl(0 0% 7.8%) */
    --color-secondary-50: 10 45% 95%; /* hsl(10 45% 95%) */
    --color-secondary-100: 10 46% 89%; /* hsl(10 46% 89%) */
    --color-secondary-200: 10 47% 80%; /* hsl(10 47% 80%) */
    --color-secondary-300: 10 48% 66%; /* hsl(10 48% 66%) */
    --color-secondary-400: 10 50% 54%; /* hsl(10 50% 54%) */
    --color-secondary-500: 10 51% 46%; /* hsl(10 51% 46%) */
    --color-secondary-600: 10 52% 42%; /* hsl(10 52% 42%) */
    --color-secondary-700: 10 53% 40%; /* hsl(10 53% 40%) */
    --color-secondary-800: 10 55% 38%; /* hsl(10 55% 38%) */
    --color-secondary-900: 10 57% 34%; /* hsl(10 57% 34%) */
    --color-secondary-950: 10 59% 30%; /* hsl(10 59% 30%) */
    --color-primary-50: 129 38% 95%; /* hsl(129 38% 95%) */
    --color-primary-100: 129 39% 89%; /* hsl(129 39% 89%) */
    --color-primary-200: 129 40% 80%; /* hsl(129 40% 80%) */
    --color-primary-300: 129 41% 66%; /* hsl(129 41% 66%) */
    --color-primary-400: 129 42% 54%; /* hsl(129 42% 54%) */
    --color-primary-500: 129 43% 46%; /* hsl(129 43% 46%) */
    --color-primary-600: 129 44% 42%; /* hsl(129 44% 42%) */
    --color-primary-700: 129 45% 40%; /* hsl(129 45% 40%) */
    --color-primary-800: 129 47% 38%; /* hsl(129 47% 38%) */
    --color-primary-900: 129 49% 34%; /* hsl(129 49% 34%) */
    --color-primary-950: 129 51% 30%; /* hsl(129 51% 30%) */

    --color-success-50: 143 100% 96%; /* hsl(143 100% 96%) */
    --color-success-100: 145 100% 92%; /* hsl(145 100% 92%) */
    --color-success-200: 146 100% 84%; /* hsl(146 100% 84%) */
    --color-success-300: 146 100% 72%; /* hsl(146 100% 72%) */
    --color-success-400: 145 96% 58%; /* hsl(145 96% 58%) */
    --color-success-500: 146 98% 45%; /* hsl(146 98% 45%) */
    --color-success-600: 145 100% 37%; /* hsl(145 100% 37%) */
    --color-success-700: 146 100% 32%; /* hsl(146 100% 32%) */
    --color-success-800: 146 90% 24%; /* hsl(146 90% 24%) */
    --color-success-900: 147 84% 20%; /* hsl(147 84% 20%) */
    --color-success-950: 147 100% 11%; /* hsl(147 100% 11%) */
    --color-info-100: 212.6 95.8% 90.6%; /* hsl(212.6 95.8% 90.6%) */
    --color-info-200: 213.9 95.8% 81.2%; /* hsl(213.9 95.8% 81.2%) */
    --color-info-300: 215.9 94.5% 71.6%; /* hsl(215.9 94.5% 71.6%) */
    --color-info-400: 217.8 92.4% 63.9%; /* hsl(217.8 92.4% 63.9%) */
    --color-info-500: 220 91% 52.2%; /* hsl(220 91% 52.2%) */
    --color-info-600: 222 85.8% 44.1%; /* hsl(222 85.8% 44.1%) */
    --color-info-700: 224.3 88.2% 36.5%; /* hsl(224.3 88.2% 36.5%) */
    --color-info-800: 226.1 90.5% 29%; /* hsl(226.1 90.5% 29%) */
    --color-info-900: 228.3 93.4% 23.7%; /* hsl(228.3 93.4% 23.7%) */
    --color-warning-100: 49.4 96.2% 89.6%; /* hsl(49.4 96.2% 89.6%) */
    --color-warning-200: 47.1 98.1% 79.6%; /* hsl(47.1 98.1% 79.6%) */
    --color-warning-300: 44.7 98.7% 69.6%; /* hsl(44.7 98.7% 69.6%) */
    --color-warning-400: 42.9 97.9% 62%; /* hsl(42.9 97.9% 62%) */
    --color-warning-500: 41 100% 49.4%; /* hsl(41 100% 49.4%) */
    --color-warning-600: 38.9 100% 42.4%; /* hsl(38.9 100% 42.4%) */
    --color-warning-700: 36.8 100% 35.5%; /* hsl(36.8 100% 35.5%) */
    --color-warning-800: 34.9 100% 28.6%; /* hsl(34.9 100% 28.6%) */
    --color-warning-900: 33 100% 23.5%; /* hsl(33 100% 23.5%) */
    --color-destructive-50: 0 86% 97%; /* hsl(0 86% 97%) */
    --color-destructive-100: 0 87% 94%; /* hsl(0 87% 94%) */
    --color-destructive-200: 0 93% 89%; /* hsl(0 93% 89%) */
    --color-destructive-300: 0 89% 82%; /* hsl(0 89% 82%) */
    --color-destructive-400: 0 87% 71%; /* hsl(0 87% 71%) */
    --color-destructive-500: 0 80% 60%; /* hsl(0 100% 50%) */
    --color-destructive-600: 0 69% 50%; /* hsl(0 69% 50%) */
    --color-destructive-700: 0 70% 42%; /* hsl(0 70% 42%) */
    --color-destructive-800: 0 67% 35%; /* hsl(0 67% 35%) */
    --color-destructive-900: 0 59% 31%; /* hsl(0 59% 31%) */
    --color-destructive-950: 0 70% 15%; /* hsl(0 70% 15%) */
    --color-background: 240 47% 96%; /* hsl(240 48% 96%) */
    --color-dark: 240 27% 12%; /* hsl(240 27% 12%) */
    --color-dark-light: 0 0% 50%; /* 	hsl(0 0% 50%) */
    --color-dark-lighter: 0 0% 68%; /* hsl(0 0% 68%) */
    --color-layout-bg: 240 22% 92%; /* hsl(240 22% 92%) 

    /* Sidebar */
    --color-tbsidebar-accent: var(--color-secondary-50);
    --color-accent: var(--color-basic-1100);

    /* Shadcn css variables */
    --background: var(--color-background);
    --foreground: var(--color-basic-1100);
    --card: var(--color-basic-100);
    --card-foreground: var(--color-basic-1100);
    --popover: var(--color-basic-100);
    --popover-foreground: var(--color-basic-1100);
    --primary: var(--color-primary-900);
    --primary-foreground: var(--color-basic-100);
    --secondary: var(--color-basic-300);
    --secondary-foreground: var(--color-basic-800);
    --muted: var(--color-basic-300);
    --muted-foreground: var(--color-basic-600);
    --accent: var(--color-basic-300);
    --accent-foreground: var(--color-basic-800);
    --destructive: var(--color-destructive-900);
    --destructive-foreground: var(--color-basic-100);
    --border: var(--color-basic-300);
    --input: var(--color-basic-300);
    --ring: var(--color-basic-600);
    --radius: 0.5rem;
    --font-family: var(--font-poppins);

    /* Shadcn Sidebar variables */
    --sidebar-background: 0 0% 98%; /* hsl(0 0% 98%) */
    --sidebar-foreground: 240 5.3% 26.1%; /* hsl(240 5.3% 26.1) */
    --sidebar-primary: 240 5.9% 10%; /* hsl( 240 5.9% 10%) */
    --sidebar-primary-foreground: 0 0% 98%; /* hsl( 0 0% 98%) */
    --sidebar-accent: 240 4.8% 95.9%; /* hsl( 240 4.8% 95.9%) */
    --sidebar-accent-foreground: 240 5.9% 10%; /* hsl( 240 5.9% 10%) */
    --sidebar-border: 220 13% 91%; /* hsl( 220 13% 91%) */
    --sidebar-ring: var(--color-primary-900);
  }
}
