@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
}

@layer base {
  :root {
    /* Web css variable */
    --color-basic-100: 0, 0%, 100%; /* hsl(0, 0%, 100%) */
    --color-basic-200: 0, 0%, 96.1%; /* hsl(0, 0%, 96.1%) */
    --color-basic-300: 240, 5.9%, 90%; /* hsl(240 5.9% 90%) */
    --color-basic-400: 0, 0%, 83.1%; /* hsl(0, 0%, 83.1%) */
    --color-basic-500: 0, 0%, 70.2%; /* hsl(0, 0%, 70.2%) */
    --color-basic-600: 0, 0%, 50.2%; /* hsl(0, 0%, 50.2%) */
    --color-basic-700: 0, 0%, 29%; /* hsl(0, 0%, 29%) */
    --color-basic-800: 0, 0%, 22%; /* hsl(0, 0%, 22%) */
    --color-basic-900: 0, 0%, 16.1%; /* hsl(0, 0%, 16.1%) */
    --color-basic-1000: 0, 0%, 12.2%; /* hsl(0, 0%, 12.2%) */
    --color-basic-1100: 0, 0%, 7.8%; /* hsl(0, 0%, 7.8%) */
    --color-primary-50: 74, 10%, 98%; /* hsl(74, 10%, 98%) */
    --color-primary-100: 74, 15%, 96%; /* hsl(74, 15%, 96%) */
    --color-primary-200: 74, 20%, 94%; /* hsl(74, 20%, 94%) */
    --color-primary-300: 74, 25%, 91%; /* hsl(74, 25%, 91%) */
    --color-primary-400: 74, 30%, 88%; /* hsl(74, 30%, 88%) */
    --color-primary-500: 74, 35%, 84%; /* hsl(74, 35%, 84%) */
    --color-primary-600: 74, 40%, 78%; /* hsl(74, 40%, 78%) */
    --color-primary-700: 74, 45%, 72%; /* hsl(74, 45%, 72%) */
    --color-primary-800: 74, 50%, 65%; /* hsl(74, 50%, 65%) */
    --color-primary-900: 74, 55%, 58%; /* hsl(74, 55%, 58%) */
    --color-primary-950: 74, 59%, 51%; /* hsl(74, 59%, 51%) */
    --color-secondary-50: 207, 20%, 95%; /* hsl(207, 20%, 95%) */
    --color-secondary-100: 207, 25%, 90%; /* hsl(207, 25%, 90%) */
    --color-secondary-200: 207, 30%, 82%; /* hsl(207, 30%, 82%) */
    --color-secondary-300: 207, 35%, 72%; /* hsl(207, 35%, 72%) */
    --color-secondary-400: 207, 40%, 60%; /* hsl(207, 40%, 60%) */
    --color-secondary-500: 207, 50%, 50%; /* hsl(207, 50%, 50%) */
    --color-secondary-600: 207, 55%, 40%; /* hsl(207, 55%, 40%) */
    --color-secondary-700: 207, 60%, 30%; /* hsl(207, 60%, 30%) */
    --color-secondary-800: 207, 63%, 24%; /* hsl(207, 63%, 24%) */
    --color-secondary-900: 207, 65%, 20%; /* hsl(207, 65%, 20%) */
    --color-secondary-950: 207, 65%, 17%; /* hsl(207, 65%, 17%) */
    --color-success-50: 105, 80%, 95%; /* hsl(105, 80%, 95%) */
    --color-success-100: 105, 85%, 90%; /* hsl(105, 85%, 90%) */
    --color-success-200: 105, 90%, 80%; /* hsl(105, 90%, 80%) */
    --color-success-300: 105, 95%, 70%; /* hsl(105, 95%, 70%) */
    --color-success-400: 105, 100%, 60%; /* hsl(105, 100%, 60%) */
    --color-success-500: 105, 100%, 45%; /* hsl(105, 100%, 45%) */
    --color-success-600: 105, 100%, 38%; /* hsl(105, 100%, 38%) */
    --color-success-700: 105, 100%, 32%; /* hsl(105, 100%, 32%) */
    --color-success-800: 105, 100%, 28%; /* hsl(105, 100%, 28%) */
    --color-success-900: 105, 100%, 27%; /* hsl(105, 100%, 27%) */
    --color-success-950: 105, 100%, 26%; /* hsl(105, 100%, 26%) */
    --color-info-100: 205, 98%, 94%; /* hsl(205, 98%, 94%) */
    --color-info-200: 205, 98%, 86%; /* hsl(205, 98%, 86%) */
    --color-info-300: 205, 98%, 75%; /* hsl(205, 98%, 75%) */
    --color-info-400: 205, 98%, 60%; /* hsl(205, 98%, 60%) */
    --color-info-500: 205, 98%, 50%; /* hsl(205, 98%, 50%) */
    --color-info-600: 205, 98%, 45%; /* hsl(205, 98%, 45%) */
    --color-info-700: 205, 98%, 42%; /* hsl(205, 98%, 42%) */
    --color-info-800: 205, 98%, 40%; /* hsl(205, 98%, 40%) */
    --color-info-900: 205, 98%, 39%; /* hsl(205, 98%, 39%) */
    --color-warning-100: 47, 100%, 94%; /* hsl(47, 100%, 94%) */
    --color-warning-200: 47, 100%, 86%; /* hsl(47, 100%, 86%) */
    --color-warning-300: 47, 100%, 75%; /* hsl(47, 100%, 75%) */
    --color-warning-400: 47, 100%, 60%; /* hsl(47, 100%, 60%) */
    --color-warning-500: 47, 100%, 50%; /* hsl(47, 100%, 50%) */
    --color-warning-600: 47, 100%, 45%; /* hsl(47, 100%, 45%) */
    --color-warning-700: 47, 100%, 42%; /* hsl(47, 100%, 42%) */
    --color-warning-800: 47, 100%, 40%; /* hsl(47, 100%, 40%) */
    --color-warning-900: 47, 100%, 38%; /* hsl(47, 100%, 38%) */
    --color-destructive-50: 21, 100%, 96%; /* hsl(21, 100%, 96%) */
    --color-destructive-100: 21, 100%, 92%; /* hsl(21, 100%, 92%) */
    --color-destructive-200: 21, 100%, 85%; /* hsl(21, 100%, 85%) */
    --color-destructive-300: 21, 100%, 75%; /* hsl(21, 100%, 75%) */
    --color-destructive-400: 21, 100%, 63%; /* hsl(21, 100%, 63%) */
    --color-destructive-500: 21, 100%, 51%; /* hsl(21, 100%, 51%) */
    --color-destructive-600: 21, 100%, 44%; /* hsl(21, 100%, 44%) */
    --color-destructive-700: 21, 100%, 40%; /* hsl(21, 100%, 40%) */
    --color-destructive-800: 21, 100%, 38%; /* hsl(21, 100%, 38%) */
    --color-destructive-900: 21, 100%, 37%; /* hsl(21, 100%, 37%) */
    --color-destructive-950: 21, 100%, 36%; /* hsl(21, 100%, 36%) */
    --color-background: 240 47% 96%; /* hsl(240, 48%, 96%) */
    --color-dark: 240, 27%, 12%; /* hsl(240, 27%, 12%) */
    --color-dark-light: 0, 0%, 50%; /* 	hsl(0, 0%, 50%) */
    --color-dark-lighter: 0, 0%, 68%; /* hsl(0, 0%, 68%) */
    --color-layout-bg: 240, 22%, 92%; /* hsl(240, 22%, 92%) */
    --color-tbsidebar-accent: var(--color-primary-950);
    --color--accent: 252, 29%, 97%; /* hsl(252, 29%, 97%) */

    /* Shadcn css variables */
    --background: var(--color-background);
    --foreground: var(--color-basic-1100);
    --card: var(--color-basic-100);
    --card-foreground: var(--color-basic-1100);
    --popover: var(--color-basic-100);
    --popover-foreground: var(--color-basic-1100);
    --primary: var(--color-primary-900);
    --primary-foreground: var(--color-basic-100);
    --secondary: var(--color-basic-300);
    --secondary-foreground: var(--color-basic-800);
    --muted: var(--color-basic-300);
    --muted-foreground: var(--color-basic-600);
    --accent: var(--color-basic-300);
    --accent-foreground: var(--color-basic-800);
    --destructive: var(--color-destructive-900);
    --destructive-foreground: var(--color-basic-100);
    --border: var(--color-basic-300);
    --input: var(--color-basic-300);
    --ring: var(--color-basic-600);
    --radius: 0.5rem;
    --font-family: var(--font-poppins);
    /* Shadcn Sidebar variables */
    --sidebar-background: 0 0% 98%; /* hsl(0 0% 98%) */
    --sidebar-foreground: 240 5.3% 26.1%; /* hsl(240 5.3% 26.1) */
    --sidebar-primary: 240 5.9% 10%; /* hsl( 240 5.9% 10%) */
    --sidebar-primary-foreground: 0 0% 98%; /* hsl( 0 0% 98%) */
    --sidebar-accent: 240 4.8% 95.9%; /* hsl( 240 4.8% 95.9%) */
    --sidebar-accent-foreground: 240 5.9% 10%; /* hsl( 240 5.9% 10%) */
    --sidebar-border: 220 13% 91%; /* hsl( 220 13% 91%) */
    --sidebar-ring: var(--color-primary-900);
  }
}
