@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Common */
    --color-basic-100: 255 255 255; /* rgb(255, 255, 255) */
    --color-basic-200: 242 242 247; /* rgb(242, 242, 247) */
    --color-basic-300: 230 230 235; /* rgb(230, 230, 235) */
    --color-basic-400: 212 21 212; /* rgb(210, 210, 215) */
    --color-basic-500: 175 176 180; /* rgb(175, 176, 180) */
    --color-basic-600: 128 128 128; /* rgb(128, 128, 128) */
    --color-basic-700: 74 74 74; /* rgb(74, 74, 74) */
    --color-basic-800: 56 56 56%; /* rgb(56, 56, 56) */
    --color-basic-900: 41 41 41; /* rgb(41, 41, 41) */
    --color-basic-1000: 31 31 31; /* rgb(31, 31, 31) */
    --color-basic-1100: 20 20 20; /* rgb(20, 20, 20) */
    --color-primary-100: 48 198 199; /* rgb(248, 198, 199) */
    --color-primary-200: 242 145 157; /* rgb(242, 145, 157) */
    --color-primary-300: 216 86 115; /* rgb(216, 86, 115) */
    --color-primary-400: 177 44 87; /* rgb(177, 44, 87) */
    --color-primary-500: 126 0 53; /* rgb(126, 0, 53) */
    --color-primary-600: 108 0 56; /* rgb(108, 0, 56) */
    --color-primary-700: 90 0 5; /* rgb(90, 0, 56) */
    --color-primary-800: 73 0 52; /* rgb(73, 0, 52) */
    --color-primary-900: 60 0 49; /* rgb(60, 0, 49) */
    --color-success-100: 224 250 202; /* rgb(224, 250, 202) */
    --color-success-200: 188 245 151; /* rgb(188, 245, 151) */
    --color-success-300: 137 227 95; /* rgb(137, 227, 95) */
    --color-success-400: 90 199 55; /* rgb(90, 199, 55) */
    --color-success-500: 32 162 6; /* rgb(32, 162, 6) */
    --color-success-600: 16 139 4; /* rgb(16, 139, 4) */
    --color-success-700: 4 116 3; /* rgb(4, 116, 3) */
    --color-success-800: 1 93 7; /* rgb(1, 93, 7) */
    --color-success-900: 1 77 11; /* rgb(1, 77, 11) */
    --color-info-100: 208 229 254; /* rgb(208, 229, 254) */
    --color-info-200: 161 201 253; /* rgb(161, 201, 253) */
    --color-info-300: 114 169 251; /* rgb(114, 169, 251) */
    --color-info-400: 78 141 248; /* rgb(78, 141, 248) */
    --color-info-500: 22 96 244; /* rgb(22, 96, 244) */
    --color-info-600: 16 74 209; /* rgb(16, 74, 209) */
    --color-info-700: 11 54 175; /* rgb(11, 54, 175) */
    --color-info-800: 7 38 141; /* rgb(7, 38, 141) */
    --color-info-900: 4 26 117; /* rgb(4, 26, 117) */
    --color-warning-100: 254 245 203; /* rgb(254, 245, 203) */
    --color-warning-200: 254 232 152; /* rgb(254, 232, 152) */
    --color-warning-300: 254 215 101; /* rgb(254, 215, 101) */
    --color-warning-400: 253 199 63%; /* rgb(253, 199, 63) */
    --color-warning-500: 252 172 0; /* rgb(252, 172, 0) */
    --color-warning-600: 216 140 0; /* rgb(216, 140, 0) */
    --color-warning-700: 181 111 0; /* rgb(181, 111, 0) */
    --color-warning-800: 146 85 0%; /* rgb(146, 85, 0) */
    --color-warning-900: 120 66 0; /* rgb(120, 66, 0) */
    --color-danger-100: 255 231 213; /* rgb(255, 231, 213) */
    --color-danger-200: 255 201 171; /* rgb(255, 201, 171) */
    --color-danger-300: 255 164 129; /* rgb(255, 164, 129) */
    --color-danger-400: 255 128 97; /* rgb(255, 128, 97) */
    --color-danger-500: 255 70 45; /* rgb(255, 70, 45) */
    --color-danger-600: 219 40 32; /* rgb(219, 40, 32) */
    --color-danger-700: 183 22 29; /* rgb(183, 22, 29) */
    --color-danger-800: 147 14 30; /* rgb(147, 14, 30) */
    --color-danger-900: 122 8 31; /* rgb(122, 8, 31) */
    --font-family-regular: Poppins_400Regular;
    --font-family-light: Poppins_300Light;
    --font-family-medium: Poppins_500Medium;
    --font-family-bold: Poppins_700Bold;
    --font-family-semiBold: Poppins_600SemiBold;
    --font-family-extraBold: Poppins_800ExtraBold;
    /* Nativewind ui */
    --background: var(--color-basic-200);
    --foreground: var(--color-basic-1100);
    --card: var(--color-basic-100);
    --card-foreground: 8 28 30; /* rgb(8, 28, 30) */
    --popover: var(--color-basic-300);
    --popover-foreground: var(--color-basic-1100);
    --primary: var(--color-primary-900);
    --primary-foreground: var(--color-basic-100);
    --secondary: var(--color-info-400);
    --secondary-foreground: var(--color-basic-100);
    --muted: var(--color-basic-500);
    --muted-foreground: var(--color-basic-200);
    --accent: 255 40 84; /* rgb(255, 40, 84)*/
    --accent-foreground: var(--color-basic-100);
    --destructive: var(--color-danger-500);
    --destructive-foreground: var(--color-basic-100);
    --border: var(--color-basic-300);
    --input: var(--color-basic-400);
    --ring: var(--color-basic-300);

    --android-background: 249 249 255; /* rgb(249, 249, 255) */
    --android-foreground: var(--color-basic-1100);
    --android-card: var(--color-basic-100);
    --android-card-foreground: 24 28 35; /* rgb( 24, 28, 35) */
    --android-popover: 215 217 228; /* rgb(215, 217, 228) */
    --android-popover-foreground: var(--color-basic-1100);
    --android-primary: var(--color-primary-900);
    --android-primary-foreground: var(--color-basic-100);
    --android-secondary: var(--color-info-400);
    --android-secondary-foreground: var(--color-basic-100);
    --android-muted: 193 198 215; /* rgb(193, 198, 215) */
    --android-muted-foreground: 65 71 84; /* rgb( 65, 71, 84) */
    --android-accent: 169 73 204; /* rgb( 169, 73, 204) */
    --android-accent-foreground: var(--color-basic-100);
    --android-destructive: var(--color-danger-900);
    --android-destructive-foreground: var(--color-basic-100);
    --android-border: 215 217 228; /* rgb(215, 217, 228) */
    --android-input: var(--color-basic-400);
    --android-ring: 215 217 228; /* rgb(215, 217, 228) */
  }
}
