@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 242 242 247; /* rgb(242 242 247) */
    --foreground: 0 0 0; /* rgb(0, 0, 0) */
    --card: 255 255 255; /* rgb(255, 255, 255) */
    --card-foreground: 8 28 30; /* rgb() */
    --popover: 230 230 235; /* rgb(230, 230, 235) */
    --popover-foreground: 0 0 0; /* rgb(0, 0, 0) */
    --primary: 126 0 53; /* rgb(126, 0, 53) */
    --primary-foreground: 255 255 255; /* rgb(255, 255, 255) */
    --secondary: 45 175 231; /* rgb(45, 175, 231) */
    --secondary-foreground: 255 255 255; /* rgb(255, 255, 255) */
    --muted: 175 176 180; /* rgb(175, 176, 180) */
    --muted-foreground: 142 142 147; /* rgb(142 142 147) */
    --accent: 255 40 84; /* rgb(255, 40, 84) */
    --accent-foreground: 255 255 255; /* rgb(255, 255, 255) */
    --destructive: 255 56 43; /* rgb(255, 56, 43) */
    --destructive-foreground: 255 255 255; /* rgb(255, 255, 255) */
    --border: 230 230 235; /* rgb(230, 230, 235) */
    --input: 210 210 215; /* rgb(210, 210, 215) */
    --ring: 230 230 235; /* rgb(230, 230, 235) */

    --android-background: 249 249 255; /* rgb(249, 249, 255) */
    --android-foreground: 0 0 0; /* rgb(0, 0, 0) */
    --android-card: 255 255 255; /* rgb(255, 255, 255) */
    --android-card-foreground: 24 28 35; /* rgb(24, 28, 35) */
    --android-popover: 215 217 228; /* rgb(24, 28, 35) */
    --android-popover-foreground: 0 0 0; /* rgb(0, 0, 0) */
    --android-primary: 126 0 53; /* rgb(126, 0, 53) */
    --android-primary-foreground: 255 255 255; /* rgb(255, 255, 255) */
    --android-secondary: 176 201 255; /* rgb(176, 201, 255) */
    --android-secondary-foreground: 20 55 108; /* rgb(20, 55, 108) */
    --android-muted: 193 198 215; /* rgb(193, 198, 215) */
    --android-muted-foreground: 65 71 84; /* rgb(65, 71, 84) */
    --android-accent: 169 73 204; /* rgb(169, 73, 204) */
    --android-accent-foreground: 255 255 255; /* rgb(255, 255, 255) */
    --android-destructive: 186 26 26; /* rgb(186, 26, 26) */
    --android-destructive-foreground: 255 255 255; /* rgb(255, 255, 255) */
    --android-border: 215 217 228; /* rgb(24, 28, 35) */
    --android-input: 210 210 215; /* rgb(210, 210, 215) */
    --android-ring: 215 217 228; /* rgb(24, 28, 35) */
    --font-family-regular: Poppins_400Regular;
    --font-family-light: Poppins_300Light;
    --font-family-medium: Poppins_500Medium;
    --font-family-bold: Poppins_700Bold;
    --font-family-semiBold: Poppins_600SemiBold;
    --font-family-extraBold: Poppins_800ExtraBold;
  }
}
